*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
    position: relative;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul{
   margin-left: 50%;
   display: inline;
 
}
.nav-links ul li {
    position: relative;
    list-style: none;
    display: inline-block;  
    float: left;
    padding: 10px 9px;
    color: rgb(104, 95, 95);
    font-size: 16px;
    font-weight: 950;
}
.nav-links ul li a{
    text-decoration: none;
}
.btn1{
    position: relative;
    border-radius: 5px;
    border: none;
    background: #F7F3F1;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bolder;
    margin-right: 20px;
    cursor: pointer;
    
}
.btn2{
    position: relative;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: #FF6756;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bolder;
    margin-right: 10px;
    cursor: pointer;
}
.main{
    position: relative;
    background-image: url(../images/podium.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 950px;
}
.div_body h1{
    position: absolute;
    width: 457px;
    height: 180px;
    left: 850px;
    top: 255px;    
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    color: #2C404E;
}
.div_body h4{
    position: absolute;
    width: 410px;
    height: 90px;
    left: 850px;
    top: 495px;
    font-size: 20px;
    line-height: 32px;
    color: darkslategray;
}
.div_body h6{
    position: absolute;
    width: 410px;
    height: 33px;
    left: 850px;
    top: 590px;
    font-size: 14px;
    line-height: 32px;
    color: darkslategray;
}
.btn{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 850px;
    top: 660px;
    background: #FF6756;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.div_body p{
    position: absolute;
    width: 410px;
    height: 33px;
    left: 850px;
    top: 720px;
    font-size: 16px;
    line-height: 32px;
    color: #517288;
}
.footer{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    line-height: 25px;
}
.div_content h1{
    width: 100%;
    height: 108px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2C404E;
}
.div_content h4{
    width: 100%;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #517288;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row_col{
    flex-basis: 31%;
    background: #FFF7DE;
    color: #171718;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;      
}
.btn4{
    width: 200px;
    height: 60px;
    margin-bottom: 30px;
    background: #FF6756;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.icons{
    background-color: #dae0e6;
    width: 100%;
    height: 920px ;    
    text-align: center;
    margin: auto;
    padding-top: 50px;
    line-height: 25px;
}
.pharse h2{
    width: 100%;
    height: 53px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2c404e;
}
.pharse p{
    width: 100%;
    height: 32px;
    font-size: 20px;
    margin: 10px;
    line-height: 32px;
    text-align: center;
    color: #517288;
}
.img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}
.btn3{
    width: 125px;
    height: 40px;
    left: 186px;
    font-weight: bold;
    color: rgb(65, 64, 64);
    background: white;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
.column {
    float: center;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
    margin: 10px;
    line-height: 27px;
}
.column h3 {
    color: #454e53;
    font-size: 30px;
}
.column h4{
    color: #50565a;    
}
.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 20px;
}
.brands{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    line-height: 25px;
}
.brands h2{
    position: relative;
    width: 100%;
    height: 66px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2C404E;
}
.brands p{
    width: 1045px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #517288;
}
.div_brand{
    width: 100%;    
    height: 100%;
    display: grid;
    place-items: center;
    padding: 12px;
    margin-right: 13px;
}
.div_brand ul li{
    list-style: none;
}
.div_brand ul li img{
   padding: 15px;
}
.resource{
    background: #F7F3F1;
    width: 100%;  
    text-align: center;
    margin: auto;
    padding-top: 50px;
    line-height: 25px;
}
.training h1{
    position: relative;
    width: 754px;
    left: 300px;
    height: 66px;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #2C404E;
}
.training p{
    position: absolute;
    width: 754px;
    height: 28px;
    left: 300px;
    font-size: 18px;
    line-height: 100px;
    text-align: center;
    color: #517288
}
.row1{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.row_deals{
    margin: 35px;
    color: #2C404E;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px ;
}
.row_deals h{
    width: 100%;
    height: 53px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2c404e;
}
.row_deals p{
    width: 100%;
    height: 32px;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    color: #424d55;
}
.members{
    background: #2C404E;;
    text-align: center;
    margin: auto;
    padding: 50px;
    line-height: 25px;
}
.div-member h1{
    width: 100%;
    height: 60px;
    left: 400px;
    font-weight: bolder;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}
.div-member p{
    width: 100%;
    height: 32px;
    left: 457px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.list{
    flex: 1;
    text-align: center;
}
.list ul{
   display: flex; 
   place-items: center;
   justify-content: center;
}
.list ul li {
    list-style: none;
    display: inline-block;  
    padding: 10px 9px;
    color: white;
    font-size: 16px;
    font-weight: 950px;
}
.list ul li a{
    text-decoration: none;
}
.btn6{
    background: #425B76;
    color: #FFDD6D;
    width: 125px;
    height: 40px;
    left: 186px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
.footer2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    line-height: 30px;
}
.row_col1{
    flex-basis: 30%;
    background: white;
    color: #4e4e53;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;      
}
.btn7{
    background: #507790;;
    color: whitesmoke;
    width: 254px;
    height: 40px;
    left: 186px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 70px;
}
.side{
    color: whitesmoke;
    font-size: 28px;
    padding-bottom: 5px;
}
.lightrow{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 18px;
}
.lightrow h3{
    padding: 14px;
    font-size: 20px;
    line-height: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.rect{
    position: absolute;
    width: 65%;
    margin-top: -50px;
    margin-left: 210px;
    margin-right: 100px;
    background: #FF6756;
    padding: 5px;
    color: #F7F3F1;
    height: 390px;
}
.id{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rect h1{ 
    font-size: 48px;
    line-height: 80px;
    padding-top: 30px;
}
.rect h3{
    font-size: 20px;
    padding-top: 45px;
    padding-bottom: 40px;
    text-align: center;
}
.btn8{
    background: #2C404E;
    color: whitesmoke;
    width: 214px;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.rect p{
   padding-top: 30px;
}
.child{
    margin-top: 300px;
    background: #F7F3F1;
    display: flex;
    justify-content: space-between;
    padding: 6%;
    line-height: 30px;
    padding-bottom: 20px;
 }
 .img1{
    flex-basis: 80%;
    background: #F7F3F1;
    color: #4e4e53;
    border-radius: 25px;
    margin-bottom: 5%;
    padding: 20px 20px;
    box-sizing: border-box;
}
.img1 h1{
    font-size: 40px;
    padding-bottom: 40px;
    align-items: center;
}
.img1 h3{
    line-height: 40px;
}
.footer3{
    background-color: #2C404E;;
    color: #FFFFFF;;
    width: 100%;
    height: 100%px;
    left: 827px; 
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 5px;
}














